script#layout-template(type='text/ejs')
  if !sharing
    #prototype-header
      h2 &lsquo;#{screenHash[screenId].title}&rsquo; screen prototype
      a.btn(href='/share/#{session.id}/project/#{projectId}/screen/#{screenId}', tabindex='-1')
        i.icon-globe
        | Share Screen

  <% var layout = attr('layout'); %>
  <% layout.each(function(colLengths) { %>
  .row
    <% colLengths.each(function(length) { %>
    div(class!='span<%= length %> component-location empty')
    <% }); %>
  <% }); %>
