script#layout-template(type='text/template')
  if !sharing
    #prototype-header
      h2 &lsquo;#{screenHash[screenId].title}&rsquo; screen prototype
      a.btn(href='/share/#{session.id}/project/#{projectId}/screen/#{screenId}', tabindex='-1')
        i.icon-globe
        | Share Screen

  <% _.each(layout, function(cols) { %>
  .row
    <% _.each(cols, function(length) { %>
    div(class!='span<%- length %> component-location empty')
    <% }); %>
  <% }); %>
