script#layout-template(type='text/ejs')
  if !sharing
    #prototype-header
      h2 &lsquo;#{screenHash[screenId].title}&rsquo; screen prototype
      a.btn(href='/share/#{session.id}/project/#{projectId}/screen/#{screenId}', tabindex='-1')
        i.icon-globe
        | Share Screen

  .row
    .span4.component-location.empty
    .span4.component-location.empty
    .span4.component-location.empty

  .row
    .span4.component-location.empty
    .span8.component-location.empty

  .row
    .span4.component-location.empty
    .span4.component-location.empty
    .span4.component-location.empty
