script#layout-template(type='text/template')
  h2 Screen Prototype

  .row
    .span4.drop-target.empty
    .span4.drop-target.empty
    .span4.drop-target.empty

  .row
    .span4.drop-target.empty
    .span8.drop-target.empty

  .row
    .span4.drop-target.empty
    .span4.drop-target.empty
    .span4.drop-target.empty
