script#layout-template(type='text/template')
  if !sharing
    #prototype-header
      h2 &lsquo;#{screenHash[screenId].title}&rsquo; screen prototype
      a.btn(href='/share/#{session.id}/project/#{projectId}/screen/#{screenId}', tabindex='-1')
        i.icon-globe
        | Share Screen

  .row
    .span4.drop-target.empty
    .span4.drop-target.empty
    .span4.drop-target.empty

  .row
    .span4.drop-target.empty
    .span8.drop-target.empty

  .row
    .span4.drop-target.empty
    .span4.drop-target.empty
    .span4.drop-target.empty
