script#layout-template(type='text/template')
  if !sharing
    #prototype-header
      h2 &lsquo;#{screenHash[screenId].title}&rsquo; Screen Prototype
      a(href='/share/#{session.id}/project/#{projectId}/screen/#{screenId}')
        i.icon-globe
        | Share Screen

  .row
    .span4.drop-target.empty
    .span4.drop-target.empty
    .span4.drop-target.empty

  .row
    .span4.drop-target.empty
    .span8.drop-target.empty

  .row
    .span4.drop-target.empty
    .span4.drop-target.empty
    .span4.drop-target.empty
