script#layout-template(type='text/template')
  h2 Screen Prototype

  .row
    .span4.drop-target
    .span4.drop-target
    .span4.drop-target

  .row
    .span4.drop-target
    .span8.drop-target

  .row
    .span4.drop-target
    .span4.drop-target
    .span4.drop-target
