!!! 5
html
  head
    title {{project.title}}
    link(rel='stylesheet', href='/stylesheets/bootstrap-2.0.4.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive-2.0.4.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')

  body
    block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='https://login.persona.org/include.js')
    script(src='/javascripts/login.js')
