script#input-radio-popover-template(type='text/template')
  form
    .field
      label(for='name') Name:
      input#name(name='name', type='text', value!='<%- name %>')

    != partial('templates/popovers/footer')
