script#auth-element-template(type='text/template')
  if sharing
    if session.auth && session.auth[projectId]
      a.persona-button.log-out(href='/share/#{userId}/project/#{projectId}/screen/#{screenId}/log-out')
        span Sign out
    else
      != partial('helpers/share-login-form')
  else
    a.persona-button(href='#log-in', tabindex='-1')
      span Sign in
