script#input-text-element-template(type='text/template')
  if sharing
    label(for!='<%- elementId %>') <%- name %>: 
    input(type='text', name!='<%- elementId %>', id!='<%- elementId %>')
  else
    label(for!='<%- elementId %>') <%- name %>: 
    input(type='text', name!='<%- elementId %>', id!='<%- elementId %>',
      disabled='disabled')
