script#input-radio-element-template(type='text/template')
  // TODO: make names unique and id-ize them for inputs
  .live-element.field
    label(for!='<%- elementId %>') <%- name %>: 
    input(type='radio', name!='<%- elementId %>', id!='<%- elementId %>', tabindex='-1')
