script#input-text-element-template(type='text/template')
  // TODO: make names unique and id-ize them for inputs
  .live-element.field
    label(for!='<%- name %>') <%- name %>: 
    input(type='text', name!='<%- name %>', id!='<%- name %>')
