script#input-checkbox-element-template(type='text/template')
  label(for!='<%- elementId %>') <%- name %>: 

  if sharing
    input(type='checkbox', name!='<%- elementId %>', id!='<%- elementId %>')
  else
    input(type='checkbox', name!='<%- elementId %>', id!='<%- elementId %>',
      disabled='disabled')
