script#input-text-element-template(type='text/template')
  // TODO: make names unique and id-ize them for inputs
  if sharing
    .share-element.field
      label(for!='<%- elementId %>') <%- name %>: 
      input(type='text', name!='<%- elementId %>', id!='<%- elementId %>')
  else
    .live-element.field
      label(for!='<%- elementId %>') <%- name %>: 
      input(type='text', name!='<%- elementId %>', id!='<%- elementId %>', tabindex='-1')
