script#textarea-element-template(type='text/template')
  if sharing
    label(for!='<%- elementId %>') <%- name %>: 
    textarea(rows='8', cols='20', name!='<%- elementId %>', id!='<%- elementId %>')
  else
    label(for!='<%- elementId %>') <%- name %>: 
    textarea(rows='8', cols='20', name!='<%- elementId %>', id!='<%- elementId %>',
      disabled='disabled')
