script#textarea-element-template(type='text/template')
  label(for!='<%- elementId %>') <%- name %>: 

  if sharing
    textarea(rows='8', cols='20', name!='<%- elementId %>', id!='<%- elementId %>')
  else
    textarea(rows='8', cols='20', name!='<%- elementId %>', id!='<%- elementId %>',
      disabled='disabled')
