script#textarea-element-template(type='text/template')
  // TODO: make names unique and id-ize them for textarea
  .live-element.field
    label(for!='<%- name %>') <%- name %>: 
    textarea(rows='8', cols='20', name!='<%- name %>', id!='<%- name %>')
