extend layout

block sidebar
  h2 Projects
  !=partial('forms/add-project')

block content
  !=partial('forms/add-screen')
      
  !=partial('templates/collections/project')
  !=partial('templates/collections/screen')

block scripts
  script(src='/javascripts/json2.js')
  script(src='/javascripts/underscore.min.js')
  script(src='/javascripts/backbone.min.js')
  script(src='/javascripts/tooltip-errors.js')
  script(src='/javascripts/main.js')
  script
    jQuery(function() {
      NapkinClient(window, document, jQuery, {});
    });
