extend layout

block sidebar
  a.btn.btn-danger#back(href='/') &larr; Back to home

  h2 Not Found
  p The page you were looking for was not found.

block scripts
  script(src='/javascripts/lib/require-jquery.min.js', data-main='/javascripts/scripts/not-found.js')
