extend layout

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
  script(src='/javascripts/json2.js')
  script(src='/javascripts/underscore.min.js')
  script(src='/javascripts/backbone.min.js')
  script(src='/javascripts/tooltip-errors.js')
  script(src='/javascripts/prototype.js')
  script
    jQuery(function() {
      NapkinClient(window, document, jQuery, {
        projectId: #{projectId},
        screenId: #{screenId}
      });
    });

  // layouts and lists
  != partial('templates/layouts/layout')
  != partial('templates/lists/component')
  != partial('templates/lists/article-element')
  != partial('templates/lists/form-element')

  // article elements and popovers
  != partial('templates/elements/heading')
  != partial('templates/popovers/heading')
  != partial('templates/elements/paragraph')
  != partial('templates/popovers/paragraph')

  // form elements and popovers
  != partial('templates/elements/input-text')
  != partial('templates/popovers/input-text')
  != partial('templates/elements/input-radio')
  != partial('templates/popovers/input-radio')
  != partial('templates/elements/input-checkbox')
  != partial('templates/popovers/input-checkbox')
  != partial('templates/elements/textarea')
  != partial('templates/popovers/textarea')
