script#project-template(type='text/template')
  a(href='#edit-project') <%- title %>
    i.icon-pencil.icon-white
    i.icon-trash.icon-white
    i.icon-chevron-right
  input.edit(type='text', value!='<%- title %>')
