script#screen-template(type='text/template')
  h4 <%- title %>
    a(href='#edit-screen')
      i.icon-pencil
      i.icon-trash
  input.edit(type='text', value!='<%- title %>')
  a(href='#view-screen')
    img(src='http://placehold.it/220x220', alt='Screen placeholder')
