border-radius()
  border-radius arguments
  -khtml-border-radius arguments
  -moz-border-radius arguments
  -ms-border-radius arguments
  -o-border-radius arguments
  -webkit-border-radius arguments

box-shadow()
  box-shadow arguments
  -khtml-box-shadow arguments
  -moz-box-shadow arguments
  -ms-box-shadow arguments
  -o-box-shadow arguments
  -webkit-box-shadow arguments

box-sizing()
  box-sizing arguments
  -khtml-box-sizing arguments
  -moz-box-sizing arguments
  -ms-box-sizing arguments
  -o-box-sizing arguments
  -webkit-box-sizing arguments

body, input
  font 13px/1.5 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif

body
  background-color #eee
  margin 0

strong, em
  font-family "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, Tahoma, sans-serif

h1, h2, h3, h4, h5, h6
  font-family "Open Sans", "Josefin Sans", "Trebuchet MS", Helvetica, Arial, Sans-Serif
  font-weight 400
  margin 0

h1, h2
  font-weight 300

h1
  font-size 30px
  line-height 36px

h2
  font-size 24px
  line-height 36px

h3
  font-size 18px
  line-height 27px

h4, h5, h6
  line-height 18px

h4
  font-size 16px

h5
  font-size 15px

h6
  font-size 14px

ul, ol
  padding-left 0

a
  text-decoration none
  color #3366bb

p
  margin-top 0
  margin-bottom 10px

input[type='text'], textarea
  padding 6px 8px

textarea
  height 100px
  font inherit

a.btn, a.btn:hover, a.btn:active, a.btn:focus
  outline none

#main
  position relative
  min-width 880px

#index #main, #example #main
  min-width 1100px

#example #main
  font-size 14px
  line-height 1.75
  color #222

#example #content h2
  border-bottom 1px dotted #bbb
  margin-bottom 10px

#example [class^="span"]
  margin-bottom 10px

#example p
  margin-bottom 15px
  font-size 14px
  color #222

#example ol
  margin-left 40px

#example li
  margin-bottom 20px
  font-size 25px
  color #bbb

#example h3
  font-size 18px
  line-height 27px
  color #222

#example h3 i
  margin-top 6px
  margin-left 6px

#example img
  margin-bottom 30px

#example #sidebar p
  color #ddd

#example #sidebar p a
  color lighten(#84a3d6, 20%)
  border-bottom 1px dotted

#example #sidebar p a:hover
  border-bottom-style solid

#example iframe
  position fixed
  bottom 20px

#example #star
  left 150px

img#summary-img
  border-bottom 1px solid #aaa
  margin 20px 0 30px
  box-shadow(0 15px 15px -15px #999\, 0 -20px 20px -20px #999)

.features img
  display block
  margin 30px auto
  padding 5px
  background #ccc
  border 1px solid #bbb
  border-radius(5px)

#layout-img
  margin-top 65px

#export-img
  margin-top 70px

#sidebar
  position relative
  background url(/images/texture.jpg) repeat
  border-right 1px solid #333
  box-shadow(5px 0 25px #666)
  color #eee
  float left
  margin-right 50px
  padding 0 20px
  width 260px

#content
  float left
  margin-top 25px

header
  margin 20px 0
  overflow hidden

header h1 a
  float left
  font-size 40px
  line-height 1
  text-transform uppercase
  margin-top 0
  color #eee

#sidebar header form
  margin 0

header a
  float right
  margin-top 10px

#fork
  position absolute
  bottom 20px

#star
  position absolute
  bottom 20px
  left 105px

#sidebar form
  margin 10px 0

#projects
  margin 0

#projects li
  border-bottom 1px solid #333
  box-shadow(0 6px 15px -9px #999)
  font-size 18px
  line-height 1.5
  list-style-type none
  margin 0 -21px
  padding-left 30px

#projects a
  color #eee
  display block
  padding 13px 0 10px

#projects .active, #projects .active:hover
  background-color rgba(255, 255, 255, 0.1)

#projects li:hover
  background-color rgba(255, 255, 255, 0.05)

#projects .icon-chevron-right
  float right
  margin-right 20px
  margin-top 5px

#projects i.icon-inbox, #projects .active .icon-inbox
  margin-left 14px

#sidebar input[type='text'], #sidebar textarea, #sidebar .field-select
  background #333
  border-color #444
  box-shadow(inset 0 3px 4px #303030)
  color #eee

// must keep the following two sets of selectors separate, as browsers will
// ignore a whole line of selectors if one fails
#sidebar input[type='text']:-moz-placeholder,
#sidebar textarea:-moz-placeholder
  color #888

#sidebar input[type='text']::-webkit-input-placeholder,
#sidebar textarea::-webkit-input-placeholder
  color #888

#sidebar .field-select
  border 1px solid #444

.field-select
  border 1px solid #ccc
  position relative
  padding 5px 10px
  height 20px
  margin-bottom 10px
  line-height 18px
  outline none
  box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075))
  border-radius(3px)

.field-select .selection
  position absolute
  top 5px
  left 10px

.field-select select
  margin-left -12px
  margin-top -4px
  opacity 0

.field-select i
  position absolute
  top 7px
  right 7px

#projects .edit, #projects .icon-remove
  display none

#projects .editing
  padding 13px 0 10px 30px

#projects .editing a
  display none

#projects .editing .edit
  display block
  float left
  margin-bottom 0

#projects .editing .icon-remove
  display block
  float right
  margin-top 10px
  margin-right 20px

#add-project-form label
  display block
  margin-bottom 5px

#add-project-form input[type='text']
  float left
  margin-right 10px
  width 180px

#add-project-form input[type='text']:focus
  border-color rgba(82, 168, 236, 0.4)
  box-shadow(inset 0 3px 4px #303030\, 0 0 8px rgba(82, 168, 236, .4))
  outline none

#add-project-form .btn
  float left
  padding-bottom 6px
  padding-top 6px

#add-screen h2
  float left
  line-height 50px
  margin-right 10px

#add-screen .span12
  border-bottom 1px dotted #ccc
  margin-bottom 30px

#add-screen form
  float right
  margin 0

#add-screen label
  float left
  margin-right 10px
  line-height 38px

#add-screen input[type='text']
  float left
  margin-right 10px
  margin-top 3px
  width 180px

#add-screen .btn
  float left
  margin-top 4px
  padding-bottom 5px
  padding-top 5px

#add-screen .cancel, #add-project-form .cancel
  color #999
  float left
  margin-right 10px
  margin-top 10px

#add-project-form .cancel
  margin-top 7px

.screen h4
  margin-bottom 10px
  text-align center
  text-transform uppercase

.screen h4 a, #projects .icon-white
  display none

.screen h4 i, #projects .icon-white
  margin 3px 0 0 10px

.screen img
  background #ccc
  border 1px dashed #999
  display block
  margin-bottom 40px
  margin-right 20px
  width 220px

.screen:hover h4 a
  display inline

.screen .edit
  display none
  width 180px

.screen .icon-remove
  display none
  margin-top 9px

.screen.editing h4
  display none

.screen.editing .edit
  display block
  float left

.screen.editing .icon-remove
  display block
  float right

#projects a:hover .icon-white, #projects .active .icon-white
  display inline-block

.screen img:hover
  border 1px solid #3366bb
  border-color rgba(82, 168, 236, 0.4)
  box-shadow(0 0 8px rgba(82, 168, 236, 0.6))
  outline none

.component-location
  position relative
  border 1px dashed #999
  border-radius(5px)
  margin-bottom 20px
  box-sizing(border-box)
  padding 10px 15px

#share .component-location
  padding 0

.component-location
  min-height 200px
  cursor pointer

#share .component-location
  min-height 0

.component-location.has-component
  min-height 50px

.component-hover
  background #ddd

.component-location.active
  border-style solid

.component-location.empty
  color #aaa
  font-size 25px
  letter-spacing 1px
  // to vertically center the text in the component
  line-height 190px
  text-align center
  text-transform uppercase

#share .component-location
  border none
  cursor default

#share .component-location.empty
  display none

.component, .elements ul, #sidebar .elements form
  margin 0 -21px
  padding 20px 40px
  box-shadow inset 0 0 2px #222

.elements h2
  margin-bottom 10px

.elements ul, .component.last
  margin-bottom 20px

.component
  text-align center
  cursor crosshair
  z-index 100

.component input
  cursor crosshair

.article-container
  border-color #3c6900

.article
  margin-top 10px

.article, .article-elements ul, .article-elements form
  background rgba(60, 105, 0, 0.2)

.article p
  margin 5px 0

.elements li
  list-style-type none
  margin-bottom 15px

.element
  float left
  max-width 190px
  z-index 500

.live-element:hover, .live-element.active
  background rgba(78, 150, 0, 0.3)
  background #F7F3C5

.live-element.active
  padding 5px 10px
  margin-left -10px
  margin-right -10px

.live-element label
  cursor pointer

.live-element input[type="text"], .live-element textarea,
.share-element input[type="text"], .share-element textarea
  display block
  cursor pointer

.share-element input[type="text"], .share-element textarea
  cursor auto

#share .row
  margin-bottom 20px

.elements a.btn
  float right
  font-size 110%
  font-weight bold
  text-shadow 1px 1px #222
  padding 1px 5px 3px

.elements form
  overflow hidden

.elements form button, #screen-config button
  float right

.form-container
  border-color #ee3c7e

.form, .form-elements ul, .form-elements form
  background rgba(144, 0, 53, 0.2)

.form-elements input[type='text'], .form-elements textarea
  width 160px

.form-elements textarea
  height 100px
  outline none

.form input[type='text']
  width 180px
  margin 5px 0

.navigation-container
  border-color #4380d3

.navigation, .navigation-elements ul
  background rgba(5, 49, 109, 0.2)

.navigation ul
  margin 5px 0 0

.navigation li
  float none
  display inline-block

.navigation-elements .element
  display inline-block
  background #08c
  color #fff
  padding 6px 12px
  border-radius(5px)

.navigation-container ul
  margin 0

.navigation-container .share-element a:hover
  background #e0e0e0

.navigation-container .live-element:hover
  border-radius(5px)

.navigation-container .live-element a:hover
  background transparent

.navigation-container .active a:hover
  background #08c

.component-config .icon-ok, #screen-config .icon-ok
  float right
  margin-top 7px
  margin-right 10px
  display none

#layout-modifications
  margin-top 10px

.layout-row.row
  display block
  margin-bottom 10px
  margin-left -10px 

#prototype [class^='layout-span']
  float left
  display block
  height 20px
  border 1px dotted #ccc
  margin-left 10px

#prototype .layout-span4
  width 62px

#prototype .layout-span8
  width 136px

#prototype .layout-span12
  width 210px

#layout-modifications .dropdown-toggle, .delete-row
  float left
  margin-left 9px
  margin-top 2px

.delete-row
  margin-left 8px

#layout-modifications .dropdown-menu
  overflow hidden
  margin-left 30px

#prototype .dropdown-menu [class^='layout-span']
  border-color #666

#prototype .dropdown-menu li:hover [class^='layout-span']
  border-color #fff

.layout-actions
  float right
  margin-bottom 10px

.layout-actions span
  margin-right 7px

.layout-actions a, .layout-actions a:hover
  font-size 110%
  font-weight bold
  text-shadow 1px 1px #222
  padding 1px 5px 3px
  margin-bottom 10px
  margin-top 5px

#screen-config .icon-ok
  margin-top 16px

#screen-config input[type='checkbox']
  margin-left 10px

#screen-config [type='submit']
  margin-top 10px

#prototype-header
  margin-bottom 20px
  overflow hidden
  border-bottom 1px dotted #ccc

#prototype-header h2
  float left
  margin-bottom 5px

#prototype-header a
  float right
  margin-top 3px

#prototype-header i
  margin 1px 5px 0 0

#back
  margin-bottom 15px

.component-actions
  position absolute
  bottom 5px
  right 5px
  line-height 0
  opacity 0.7

.live-element img, .share-element img,
.live-element .persona-button, .share-element .persona-button
  margin-bottom 10px

.form-submit
  margin-top 10px

.popover-inner
  width 260px

.popover-content .form-actions
  margin 10px -14px -14px

.popover-content .form-actions .btn-primary
  margin-right 10px

.popover-content .form-actions i
  margin-top 1px
  margin-right 3px

.close-popover
  position absolute
  right -5px
  top -5px
  padding 5px 5px 2px
  background-color rgba(0, 0, 0, 0.9)
  border-radius(15px)

#level
  width 45px
  margin-left 10px
  margin-top 7px

#github
  position absolute
  top 0
  right 0
 
/* CSS-only Persona button - credits to Sawyer Hollenshead */
.persona-button
  color #fff
  display inline-block
  line-height 1
  overflow hidden
  position relative
  text-decoration none
  text-shadow 0 1px rgba(0,0,0,0.5), 0 0 2px rgba(0,0,0,0.2)

  background #ee731a
  background -moz-linear-gradient(top, #ee731a, #d03116)
  background -ms-linear-gradient(top, #ee731a, #d03116)
  background -o-linear-gradient(top, #ee731a, #d03116)
  background -webkit-linear-gradient(top, #ee731a, #d03116)
  background linear-gradient(top, #ee731a, #d03116)

  -moz-border-radius 3px
  -ms-border-radius 3px
  -o-border-radius 3px
  -webkit-border-radius 3px
  border-radius 3px

  -moz-box-shadow 0 1px 0 rgba(0,0,0,0.2)
  -ms-box-shadow 0 1px 0 rgba(0,0,0,0.2)
  -o-box-shadow 0 1px 0 rgba(0,0,0,0.2)
  -webkit-box-shadow 0 1px 0 rgba(0,0,0,0.2)
  box-shadow 0 1px 0 rgba(0,0,0,0.2)

.persona-button.log-out
  color #222
  text-shadow 0 1px #ccc, 0 0 2px #ccc

  background #eee
  background -moz-linear-gradient(-45deg, #eee, #999)
  background -ms-linear-gradient(-45deg, #eee, #999)
  background -o-linear-gradient(-45deg, #eee, #999)
  background -webkit-linear-gradient(-45deg, #eee, #999)
  background linear-gradient(-45deg, #eee, #999)

.persona-button:hover
  background #cb6216
  background -moz-linear-gradient(top, #cb6216, #b12a13)
  background -ms-linear-gradient(top, #cb6216, #b12a13)
  background -o-linear-gradient(top, #cb6216, #b12a13)
  background -webkit-linear-gradient(top, #cb6216, #b12a13)
  background linear-gradient(top, #cb6216, #b12a13)

.persona-button.log-out:hover
  background #ccc
  background -moz-linear-gradient(top, #ccc, #aaa)
  background -ms-linear-gradient(top, #ccc, #aaa)
  background -o-linear-gradient(top, #ccc, #aaa)
  background -webkit-linear-gradient(top, #ccc, #aaa)
  background linear-gradient(top, #ccc, #aaa)

.persona-button:active, .persona-button:focus
  top 1px
  -moz-box-shadow none
  -ms-box-shadow none
  -o-box-shadow none
  -webkit-box-shadow none
  box-shadow none

.persona-button span
  display inline-block
  padding 5px 10px 5px 40px

/* Icon */
.persona-button span:after
  background url(../images/logo.png) 10px center no-repeat
  content ''
  display block
  width 31px
  
  position absolute
  bottom 0
  left -3px
  top 0
  z-index 10

/* Icon background */
.persona-button span:before
  content ''
  display block
  height 100%
  width 20px

  position absolute
  bottom 0
  left 0
  top 0
  z-index 1

  background #e84a21
  background -moz-linear-gradient(top, #f7ad27, #e84a21)
  background -ms-linear-gradient(top, #f7ad27, #e84a21)
  background -o-linear-gradient(top, #f7ad27, #e84a21)
  background -webkit-linear-gradient(top, #f7ad27, #e84a21)
  background linear-gradient(top, #f7ad27, #e84a21)

  -moz-border-radius 3px 0 0 3px
  -ms-border-radius 3px 0 0 3px
  -o-border-radius 3px 0 0 3px
  -webkit-border-radius 3px 0 0 3px
  border-radius 3px 0 0 3px

.persona-button.log-out span:before
  background #666
  background -moz-linear-gradient(top, #666, #888)
  background -ms-linear-gradient(top, #666, #888)
  background -o-linear-gradient(top, #666, #888)
  background -webkit-linear-gradient(top, #666, #888)
  background linear-gradient(top, #666, #888)

/* Triangle */
.persona-button:before
  background #42a9dd
  content ''
  display block
  height 26px
  width 26px

  position absolute
  left 2px
  top 50%
  margin-top -13px
  z-index 0

  background #e84a21
  background -moz-linear-gradient(-45deg, #f7ad27, #e84a21)
  background -ms-linear-gradient(-45deg, #f7ad27, #e84a21)
  background -o-linear-gradient(-45deg, #f7ad27, #e84a21)
  background -webkit-linear-gradient(-45deg, #f7ad27, #e84a21)
  background linear-gradient(-45deg, #e84a21, #f7ad27)

  -moz-box-shadow 1px -1px 1px rgba(0,0,0,0.1)
  -ms-box-shadow 1px -1px 1px rgba(0,0,0,0.1)
  -o-box-shadow 1px -1px 1px rgba(0,0,0,0.1)
  -webkit-box-shadow 1px -1px 1px rgba(0,0,0,0.1)
  box-shadow 1px -1px 1px rgba(0,0,0,0.1)

  -moz-transform rotate(45deg)
  -ms-transform rotate(45deg)
  -o-transform rotate(45deg)
  -webkit-transform rotate(45deg)
  transform rotate(45deg)

.persona-button.log-out:before
  background #666
  background -moz-linear-gradient(-45deg, #666, #888)
  background -ms-linear-gradient(-45deg, #666, #888)
  background -o-linear-gradient(-45deg, #666, #888)
  background -webkit-linear-gradient(-45deg, #666, #888)
  background linear-gradient(-45deg, #666, #888)

/* Inset shadow (required here because the icon background clips it when on the `a` element) */
.persona-button:after
  content ''
  display block
  height 100%
  width 100%

  position absolute
  left 0
  top 0
  bottom 0
  right 0
  z-index 10

  -moz-border-radius 3px
  -ms-border-radius 3px
  -o-border-radius 3px
  -webkit-border-radius 3px
  border-radius 3px

  -moz-box-shadow inset 0 -1px 0 rgba(0,0,0,0.3)
  -ms-box-shadow inset 0 -1px 0 rgba(0,0,0,0.3)
  -o-box-shadow inset 0 -1px 0 rgba(0,0,0,0.3)
  -webkit-box-shadow inset 0 -1px 0 rgba(0,0,0,0.3)
  box-shadow inset 0 -1px 0 rgba(0,0,0,0.3)
