border-radius()
  border-radius arguments
  -khtml-border-radius arguments
  -moz-border-radius arguments
  -ms-border-radius arguments
  -o-border-radius arguments
  -webkit-border-radius arguments

box-shadow()
  box-shadow arguments
  -khtml-box-shadow arguments
  -moz-box-shadow arguments
  -ms-box-shadow arguments
  -o-box-shadow arguments
  -webkit-box-shadow arguments

body, input
  font 13px/1.5 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif

body
  background-color #eee
  margin 0

strong, em
  font-family "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, Tahoma, sans-serif

h1, h2, h3, h4, h5, h6
  font-family Quicksand, "Josefin Sans", "Trebuchet MS", Helvetica, Arial, Sans-Serif
  font-weight normal
  letter-spacing -1px
  margin 0

h1
  font-size: 30px;
  line-height: 36px;

h2
  font-size: 24px;
  line-height: 36px;

h3
  font-size: 18px;
  line-height: 27px;

h4, h5, h6
  line-height: 18px;

h4
  font-size: 16px;

h5
  font-size: 15px;

h6
  font-size: 14px;

ul, ol
  padding-left 0

a
  text-decoration none

p
  margin-top 0
  margin-bottom 10px

input[type='text'], textarea
  padding 6px 8px

textarea
  height 100px

#sidebar
  background url(/images/texture.jpg) repeat
  border-right 1px solid #333
  box-shadow(5px 0 25px #666)
  color #eee
  float left
  margin-right 50px
  padding 0 20px
  width 260px

#content
  float left
  margin-top 25px

header
  margin 20px 0
  overflow hidden

header h1 a
  float left
  font-size 40px
  font-weight normal
  line-height 1
  text-transform uppercase
  color #eee

#sidebar header form
  margin 0

header a
  float right
  line-height 40px

#sidebar form
  margin 10px 0

#projects
  margin 0

#projects li
  border-bottom 1px solid #333
  box-shadow(0 6px 15px -9px #999)
  font-size 18px
  line-height 1.5
  list-style-type none
  margin 0 -21px
  padding-left 30px

#projects a
  color #eee
  display block
  padding 13px 0 10px

#projects .active, #projects .active:hover
  background-color rgba(255, 255, 255, 0.1)

#projects li:hover
  background-color rgba(255, 255, 255, 0.05)

#projects .icon-chevron-right
  float right
  margin-right 20px
  margin-top 5px

#sidebar input[type='text'], #sidebar textarea, .field-select
  background #333
  border-color #555
  box-shadow(inset 0 3px 4px #303030)
  color #eee

.field-select
  position relative
  padding 5px 10px
  height 20px
  margin-bottom 10px
  line-height 18px
  border 1px solid #555
  outline none
  border-radius(5px)

.field-select .selection
  position absolute
  top 5px
  left 10px

.field-select select
  margin-left -12px
  margin-top -4px
  opacity 0

.field-select i
  position absolute
  top 7px
  right 7px

#projects .edit
  display none

#projects .editing
  padding 13px 0 10px 30px

#projects .editing a
  display none

#projects .editing .edit
  display block
  margin-bottom 0

#add-project-form label
  display block
  margin-bottom 5px

#add-project-form input[type='text']
  float left
  margin-right 10px
  width 180px

#add-project-form input[type='text']:focus
  box-shadow(inset 0 3px 4px #303030\, 0 0 3px #666)
  outline none

#add-project-form .btn
  float left
  padding-bottom 6px
  padding-top 6px

#add-screen h2
  float left
  line-height 50px
  margin-right 10px

#add-screen .span12
  border-bottom 1px dotted #ccc
  margin-bottom 30px

#add-screen form
  float right
  margin 0

#add-screen label
  float left
  margin-right 10px
  line-height 38px

#add-screen input[type='text']
  float left
  margin-right 10px
  margin-top 3px
  width 180px

#add-screen .btn
  float left
  margin-top 4px
  padding-bottom 5px
  padding-top 5px

#add-screen .cancel, #add-project-form .cancel
  color #999
  float left
  margin-right 10px
  margin-top 10px

#add-project-form .cancel
  margin-top 7px

.screen h4
  margin-bottom 10px
  text-align center
  text-transform uppercase

.screen h4 a, #projects .icon-white
  display none

.screen h4 i, #projects .icon-white
  margin 3px 0 0 10px

.screen img
  background #ccc
  border 1px dashed #999
  display block
  height 220px
  margin-bottom 40px
  margin-right 20px
  width 220px

.screen:hover h4 a
  display inline

.screen .edit
  display none
  width 204px

.screen.editing h4
  display none

.screen.editing .edit
  display block

#projects a:hover .icon-white, #projects .active .icon-white
  display inline-block

.screen img:hover
  border 1px solid #3366bb
  border-color rgba(82, 168, 236, 0.4)
  box-shadow(0 0 8px rgba(82, 168, 236, 0.6))
  outline none

.drop-target, .drag-element
  border 2px dashed #999
  border-radius(10px)
  margin-bottom 20px

.drop-target
  min-height 200px
  cursor pointer

.drop-target.drop-hover
  background #ddd

.drop-target.active
  border-style solid

.drop-target.empty
  color #aaa
  font-size 25px
  letter-spacing 1px
  // to vertically center the text in the component
  line-height 190px
  text-align center
  text-transform uppercase

.drag-element
  padding 15px 20px
  text-align center
  border 1px solid
  cursor crosshair
  box-shadow inset 0 0 2px #222

.elements ul, .elements form
  border 1px solid
  padding 15px 20px
  border-radius(5px)
  box-shadow inset 0 0 2px #222

.article-container
  border-color #4380d3

.article, .article-elements ul, .article-elements form
  margin-top 10px
  border-color #4380d3
  border-color #284c7e
  background rgba(5, 49, 109, 0.3)

.article p
  margin 5px 0

.elements li
  list-style-type none
  overflow hidden
  margin-bottom 15px

.element
  float left
  max-width 190px

.live-element:hover, .live-element.active
  background rgba(78, 150, 0, 0.3)
  background #F7F3C5

.live-element.active
  padding 5px 10px
  margin-left -10px
  margin-right -10px

.live-element input[type="text"], .live-element textarea,
.share-element input[type="text"], .share-element textarea
  display block

.share-element input[type="text"], .share-element textarea
  width 270px

#share .row
  margin-bottom 20px

.elements a.btn
  float right
  font-size 110%
  font-weight bold
  text-shadow 1px 1px #222
  padding 1px 5px 3px

.elements form
  overflow hidden

.elements form button
  float right

.form-container
  border-color #ee3c7e

.form, .form-elements ul, .form-elements form
  border-color #8e244b
  background rgba(144, 0, 53, 0.3)

.form-elements input[type='text'], .form-elements textarea
  width 160px

.form-elements textarea
  height 100px
  outline none

.form input[type='text']
  width 180px
  margin 5px 0

.component-config .icon-ok
  float right
  margin-top 7px
  margin-right 10px
  display none

#prototype-header
  margin-bottom 20px
  overflow hidden
  border-bottom 1px dotted #ccc

#prototype-header h2
  float left
  margin-bottom 5px

#prototype-header a
  float right
  color #3366bb
  line-height 36px

#prototype-header i
  margin 1px 5px 0 0

#back, img.live-element, img.share-element
  margin-bottom 10px

.form-submit
  margin-top 10px

.popover-inner
  width 260px

.popover-content .form-actions
  margin 10px -14px -14px

.popover-content .form-actions .btn-primary
  margin-right 10px

.popover-content .form-actions i
  margin-top 1px
  margin-right 3px

.close-popover
  position absolute
  right -5px
  top -5px
  padding 5px 5px 2px
  background-color rgba(0, 0, 0, 0.9)
  border-radius(15px)

#level
  width 45px
  margin-left 10px
  margin-top 7px
