border-radius()
  border-radius arguments
  -khtml-border-radius arguments
  -moz-border-radius arguments
  -ms-border-radius arguments
  -o-border-radius arguments
  -webkit-border-radius arguments

box-shadow()
  box-shadow arguments
  -khtml-box-shadow arguments
  -moz-box-shadow arguments
  -ms-box-shadow arguments
  -o-box-shadow arguments
  -webkit-box-shadow arguments

body, input
  font 13px/1.5 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif

body
  background-color #eee
  margin 0

strong, em
  font-family "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, Tahoma, sans-serif

h1, h2, h3, h4, h5, h6
  font-family Quicksand, "Josefin Sans", "Trebuchet MS", Helvetica, Arial, Sans-Serif
  letter-spacing -1px
  margin 0

h1
  font-size: 30px;
  line-height: 36px;

h2
  font-size: 24px;
  line-height: 36px;

h3
  font-size: 18px;
  line-height: 27px;

h4, h5, h6
  line-height: 18px;

h4
  font-size: 16px;

h5
  font-size: 15px;

h6
  font-size: 14px;

ul, ol
  padding-left 0

a
  text-decoration none

input[type='text']
  padding 6px 8px

#sidebar
  background url(/images/texture.jpg) repeat
  border-right 1px solid #333
  box-shadow(5px 0 25px #666)
  color #eee
  float left
  margin-right 50px
  min-height 1000px /* TODO: temporary until JS is written */
  overflow hidden
  padding 0 20px
  width 260px

#content
  float left
  margin-top 25px

header
  margin 20px 0
  overflow hidden

header h1
  float left
  font-size 40px
  font-weight normal
  line-height 1
  text-transform uppercase

#sidebar header form
  margin 0

header a
  float right
  line-height 40px

#sidebar form
  margin 10px 0

.projects
  margin 0

.projects li
  border-bottom 1px solid #333
  box-shadow(0 6px 15px -9px #999)
  font-size 18px
  line-height 1.5
  list-style-type none
  margin 0 -25px

.projects a
  color #eee
  display block
  padding 13px 0 10px 30px

.projects .active, .projects .active:hover
  background-color rgba(255, 255, 255, 0.1)

.projects li:hover
  background-color rgba(255, 255, 255, 0.05)

.projects i
  float right
  margin-right 20px
  margin-top 5px

#add-project
  overflow hidden

#add-project input[type='text']
  background #333
  border-color #555
  box-shadow(inset 0 3px 4px #303030)
  color #eee
  float left
  margin-right 10px
  width 180px

#add-project input[type='text']:focus
  box-shadow(none)
  outline none

#add-project .btn
  float left
  padding-bottom 6px
  padding-top 6px

#content h2
  float left
  line-height 50px
  margin-right 10px

#add-screen
  border-bottom 1px dotted #ccc
  margin-bottom 30px
  overflow hidden

#add-screen form
  float right
  margin 0

#add-screen input[type='text']
  float left
  margin-right 15px
  margin-top 3px

#add-screen .btn
  float left
  margin-top 4px
  padding-bottom 5px
  padding-top 5px

.screen h4
  margin-bottom 10px
  text-align center
  text-transform uppercase

.screen h4 a
  display none

.screen h4 i
  margin 3px 0 0 10px

.screen img
  background #ccc
  border 1px dashed #999
  display block
  height 220px
  margin-bottom 40px
  margin-right 20px
  width 220px

.screen:hover h4 a
  display inline

.screen img:hover
  border 1px solid #3366bb
  border-color rgba(82, 168, 236, 0.4)
  box-shadow(0 0 8px rgba(82, 168, 236, 0.6))
  outline 0
