<% if (typeof action === 'undefined') { %>
<% var action = #{screenId}; %>
<% } %>

form.elements-container(method='get', action!="/share/#{session.sharedId}/project/#{projectId}/screen/<%- action %>")
  button.form-submit.btn.btn-primary(type='submit') Submit
