script#article-element-list-template(type='text/ejs')
  h2 Article Elements

  ul
    li
      h3.element(data-type='heading', data-level='3') Heading
      a.btn.btn-success(href='#add-element') +
    li
      p.element(data-type='paragraph') Paragraph text
      a.btn.btn-success(href='#add-element') +
    li
      a.element.persona-button(data-type='auth')
        span Sign in
      a.btn.btn-success(href='#add-element') +
