script#component-list-template(type='text/ejs')
  h2 Components
  .component.article(data-type='article')
    h3 Article
    p Lorem ipsum dolor sit amet consectetur malesuada.

  .component.form.last(data-type='form')
    h3 Form
    input(type='text', name='text-box', disabled='disabled')

  h2 Screen Configuration
  form#screen-config
    .field
      label(for='secure') Require user authentication to view?
      <% if (attr('secure')) { %>
      input#secure(type='checkbox', name='secure', value='true', checked='true')
      <% } else { %>
      input#secure(type='checkbox', name='secure', value='true')
      <% } %>

    button.btn.btn-danger(type='submit') Save
    i.icon-white.icon-ok

script#component-action-template(type='text/ejs')
  .component-actions
    if !sharing
      a.delete-component(href='#delete', tabindex='-1')
        i.icon-trash
