script#component-list-template(type='text/template')
  h2 Components
  .drag-element.article(data-type='article')
    h3 Article
    p Lorem ipsum dolor sit amet consectetur malesuada.

  .drag-element.form(data-type='form')
    h3 Form
    input(type='text', name='text-box')

  .drag-element.auth(data-type='auth')
    h3 Authentication
    img(src='/images/browser-id-sign-in.png', alt='BrowserID Sign In')
