script#component-list-template(type='text/template')
  h2 Components
  .drag-element.article(data-type='article')
    h3 Article
    p Lorem ipsum dolor sit amet consectetur malesuada.

  .drag-element.form.last-component(data-type='form')
    h3 Form
    input(type='text', name='text-box', disabled='disabled')

  h2 Screen Configuration
  form.screen-config
    .field
      label(for='secure') Require user authentication to view?
      <% if (secure) { %>
      input#secure(type='checkbox', name='secure', value='true', checked='true')
      <% } else { %>
      input#secure(type='checkbox', name='secure', value='true')
      <% } %>

    button.btn.btn-danger(type='submit') Save
    i.icon-white.icon-ok

script#component-action-template(type='text/template')
  .component-actions
    a.delete-component(href='#delete')
      i.icon-trash
