script#form-element-list-template(type='text/template')
  h2 Form Elements
  ul
    li.clearfix
      .element(data-type='input-text', data-name='input-text')
        label(for='input-text') Text Input: 
        input(type='text', name='input-text', disabled='disabled')
      a.btn.btn-success(href='#add-element') +
    li.clearfix
      .element(data-type='input-radio', data-name='input-radio')
        label(for='input-radio') Radio Input: 
        input.radio(type='radio', name='input-radio', disabled='disabled')
      a.btn.btn-success(href='#add-element') +
    li.clearfix
      .element(data-type='input-checkbox', data-name='input-checkbox')
        label(for='input-checkbox') Checkbox Input: 
        input.checkbox(type='checkbox', name='input-checkbox', disabled='disabled')
      a.btn.btn-success(href='#add-element') +
    li.clearfix
      .element(data-type='textarea', data-name='textarea')
        label(for='textarea') Textarea: 
        textarea(rows='8', cols='20', name='textarea', disabled='disabled')
      a.btn.btn-success(href='#add-element') +

  if !sharing
    h2 Form Configuration
    form.component-config
      .field
        label(for='action') On submit, redirect to screen:

        // can't use attr('action') to check selected element due to bug in
        // CanJS with attr() inside if statement
        != partial('templates/helpers/screen-selection', { selected: 'action', black: true, name: 'action' })

      button.btn.btn-danger(type='submit') Save
      i.icon-white.icon-ok

if sharing
  script#form-wrapper-template(type='text/template')
    != partial('templates/wrappers/form')
