script#navigation-element-list-template(type='text/template')
  h2 Navigation Elements
  ul
    li.clearfix
      a.element(href='#', data-type='screen-link', data-screen='#{screenId}') Screen link
      a.btn.btn-success(href='#add-element') +
    li.clearfix
      a.element(href='#', data-type='external-link', data-url='http://example.com') External link
      a.btn.btn-success(href='#add-element') +

script#navigation-wrapper-template(type='text/template')
  != partial('templates/wrappers/navigation')
