script#screen-row-template(type='text/template')
  .row.screen-row

script#screen-template(type='text/template')
  h4 <%- title %>
    a(href='#edit-screen')
      i.icon-pencil
      i.icon-trash

  input.edit(type='text', value!="<%- title %>")
  i.icon-remove

  a(href!="/prototype/project/<%- projectId %>/screen/<%- id %>")
    <% if (screenshotCreated) { %>
    <% var imageSrc = projectId + '-' + id + '.png'; %>
    img(src!="/screenshots/#{session.id}-<%- imageSrc %>", alt='Screen screenshot')
    <% } else { %>
    img(src='/images/220x220.gif', alt='Screen placeholder')
    <% } %>
