form#add-project-form(method='post').clearfix
  label(for='project-title') Project title:
  input#project-title(type='text', name='project-title', placeholder='Enter a new project title...')
  input(type='submit', class='btn btn-danger', value='Add')
