form.login-form(method='post',
  action='/share/#{userId}/project/#{projectId}/screen/#{screenId}/log-in')
  a.persona-button.share-element(href='#log-in')
    span Sign in
  input(type='hidden', name='bid_assertion', value='1')
