form.login-form(method='post',
  action!='/share/#{userId}/project/#{projectId}/screen/#{screenId}/log-in?redirect=<%= this.redirect %>')
  a.persona-button.share-element.auth(href='#log-in')
    span Sign in
  input(type='hidden', name='bid_assertion', value='1')
