form.login-form(method='post', action='/share/#{userId}/project/#{projectId}/screen/#{screenId}/log-in')
  a(href='#login')
    img.share-element(src='/images/browser-id-sign-in.png', alt='BrowserID Sign In')
  input(type='hidden', name='bid_assertion', value='1')
